.header{

    
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 display: flex;
 color: #ffff;
 background-color: black;
 justify-content: space-between;
 align-items: center;
 padding: 10px 10px;
 z-index: 10;
 border-bottom: 1px solid white;

}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.small-container{
    display: none;
        background-color: aqua;
    /* .right-section .ul li {
       
        
    } */
   
   
}

.right-section .ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    
   
    
}
ul li{
    margin-left: 25px;
    cursor: pointer;
}